@import url(pygment_trac.css);
@import url(pygment_trac.css);
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*******************************************************************************
Slate Theme for Github Pages
by Jason Costello, @jsncostello
*******************************************************************************/
/*******************************************************************************
Theme Styles
*******************************************************************************/
/* line 12, ../scss/_base.scss */
body {
  box-sizing: border-box;
  color: #373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* line 22, ../scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color: #222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

/* line 30, ../scss/_base.scss */
h1 {
  font-size: 36px;
  font-weight: 700;
}

/* line 35, ../scss/_base.scss */
h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url("../images/bg_hr.png") repeat-x bottom;
}

/* line 41, ../scss/_base.scss */
h3 {
  font-size: 24px;
}

/* line 45, ../scss/_base.scss */
h4 {
  font-size: 21px;
}

/* line 49, ../scss/_base.scss */
h5 {
  font-size: 18px;
}

/* line 53, ../scss/_base.scss */
h6 {
  font-size: 16px;
}

/* line 57, ../scss/_base.scss */
p {
  margin: 10px 0 15px 0;
}

/* line 61, ../scss/_base.scss */
footer p {
  color: #f2f2f2;
}

/* line 65, ../scss/_base.scss */
a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

/* line 82, ../scss/_base.scss */
#main_content a:hover {
  color: #0069ba;
  text-shadow: #0090ff 0px 0px 2px;
}

/* line 87, ../scss/_base.scss */
footer a:hover {
  color: #43adff;
  text-shadow: #0090ff 0px 0px 2px;
}

/* line 92, ../scss/_base.scss */
em {
  font-style: italic;
}

/* line 96, ../scss/_base.scss */
strong {
  font-weight: bold;
}

/* line 100, ../scss/_base.scss */
img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;
  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

/* line 115, ../scss/_base.scss */
pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 128, ../scss/_base.scss */
pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

/* line 135, ../scss/_base.scss */
code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* line 141, ../scss/_base.scss */
pre code {
  display: block;
  box-shadow: none;
}

/* line 146, ../scss/_base.scss */
blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

/* line 153, ../scss/_base.scss */
ul, ol, dl {
  margin-bottom: 15px;
}

/* line 157, ../scss/_base.scss */
ul li {
  list-style: inside;
  padding-left: 20px;
}

/* line 162, ../scss/_base.scss */
ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

/* line 167, ../scss/_base.scss */
dl dt {
  font-weight: bold;
}

/* line 171, ../scss/_base.scss */
dl dd {
  padding-left: 20px;
  font-style: italic;
}

/* line 176, ../scss/_base.scss */
dl p {
  padding-left: 20px;
  font-style: italic;
}

/* line 181, ../scss/_base.scss */
hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url("../images/bg_hr.png") repeat-x center;
}

/* line 188, ../scss/_base.scss */
table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

/* line 194, ../scss/_base.scss */
th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
}

/* line 201, ../scss/_base.scss */
td {
  padding: 10px;
  border: 1px solid #373737;
}

/* line 206, ../scss/_base.scss */
form {
  background: #f2f2f2;
  padding: 20px;
}

/* line 211, ../scss/_base.scss */
img {
  width: 100%;
  max-width: 100%;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
/* line 220, ../scss/_base.scss */
.outer {
  width: 100%;
}

/* line 224, ../scss/_base.scss */
.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

/* line 231, ../scss/_base.scss */
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url("../images/blacktocat.png") #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* line 246, ../scss/_base.scss */
#header_wrap {
  background: #212121;
}

/* line 250, ../scss/_base.scss */
#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

/* line 254, ../scss/_base.scss */
#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

/* line 262, ../scss/_base.scss */
#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

/* line 270, ../scss/_base.scss */
#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url("../images/icon_download.png") no-repeat 0% 90%;
}

/* line 280, ../scss/_base.scss */
.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

/* line 290, ../scss/_base.scss */
.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

/* line 301, ../scss/_base.scss */
.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

/* line 305, ../scss/_base.scss */
.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

/* line 309, ../scss/_base.scss */
#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

/* line 315, ../scss/_base.scss */
#main_content {
  padding-top: 40px;
}

/* line 319, ../scss/_base.scss */
#footer_wrap {
  background: #212121;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/
@media screen and (max-width: 480px) {
  /* line 328, ../scss/_base.scss */
  body {
    font-size: 14px;
  }

  /* line 332, ../scss/_base.scss */
  #downloads {
    display: none;
  }

  /* line 336, ../scss/_base.scss */
  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  /* line 341, ../scss/_base.scss */
  #project_title {
    font-size: 32px;
  }

  /* line 345, ../scss/_base.scss */
  h1 {
    font-size: 28px;
  }

  /* line 349, ../scss/_base.scss */
  h2 {
    font-size: 24px;
  }

  /* line 353, ../scss/_base.scss */
  h3 {
    font-size: 21px;
  }

  /* line 357, ../scss/_base.scss */
  h4 {
    font-size: 18px;
  }

  /* line 361, ../scss/_base.scss */
  h5 {
    font-size: 14px;
  }

  /* line 365, ../scss/_base.scss */
  h6 {
    font-size: 12px;
  }

  /* line 369, ../scss/_base.scss */
  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}
/* line 2, ../scss/_social.scss */
.social {
  margin-bottom: -132px;
  margin-left: 55px;
}

/* line 7, ../scss/_social.scss */
.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  width: 110px;
  height: 220px;
  display: inline-block;
  opacity: 0.7;
}
/* line 16, ../scss/_social.scss */
.hexagon:hover {
  opacity: 1;
}

/* line 21, ../scss/_social.scss */
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

/* line 27, ../scss/_social.scss */
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background: #f2f2f2 no-repeat 50%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

/* line 35, ../scss/_social.scss */
.linkedin {
  background-image: url(../images/social/linkedin.png);
}

/* line 38, ../scss/_social.scss */
.github {
  background-image: url(../images/social/github.png);
}

/* line 41, ../scss/_social.scss */
.twitter {
  background-image: url(../images/social/twitter.png);
}

/* line 44, ../scss/_social.scss */
.google {
  background-image: url(../images/social/google.png);
}
