ul.menu {
    position: relative;
    padding: 0;
    white-space: nowrap;
    margin-bottom: 0;
    margin-top: 2em;
    li {
        display: inline;
        text-align: center;
        padding-left: 0;
        padding-right: 1em;
        a {
            display: inline-block;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            &:hover {
                color: #43adff;
            }
        }
    }
}

.recent-entry {
    position: relative;

    .ribbon-date {
        top: 10px;
        left: -50px;
    }
}

/* ------- pagination -------- */

.pagination {
  height: 36px;
}

.pagination ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  @include border-radius(3px);
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

.pagination li {
  display: inline;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    @include border-radius(0 3px 3px 0);
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination a:hover, .active a {
  background-color: whiteSmoke;
}

.disabled a, .disabled a:hover,
.active a, .active a:hover {
  color: #999;
  cursor: default;
}

.disabled a:hover {
  background-color: transparent;
}
