.social {
    a {
        display: inline-block;
        height: 28px;
        width: 28px;
    }

    .linkedin {
        background: sprite($social, linkedin) no-repeat;
    }

    .twitter {
        background: sprite($social, twitter) no-repeat;
    }

    .google {
        background: sprite($social, google) no-repeat;
    }

    .github {
        background: sprite($social, github) no-repeat;
    }

    .dblp {
        background: sprite($social, dblp) no-repeat;
    }

    .careers {
        background: sprite($social, careers) no-repeat;
    }
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    @include transform(rotate(120deg));
    width: 110px;
    height: 220px;
    display: inline-block;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include transform(rotate(-60deg));
}

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background: #f2f2f2 no-repeat 50%;
    visibility: visible;
    @include transform(rotate(-60deg));

    &.linkedin {
        background-image: url(../images/social/linkedin-hex.png);
    }

    &.github {
        background-image: url(../images/social/github-hex.png);
    }

    &.twitter {
        background-image: url(../images/social/twitter-hex.png);
    }

    &.google {
        background-image: url(../images/social/google-hex.png);
    }
}

.dblp {
    background-image: url(../images/social/dblp.png);
}

.careers {
    background-image: url(../images/social/careers.png);
}


