---
layout: default
---
<!--<div class="social">
    <div class="hexagon">
        <div class="hexagon-in1">
            <div class="hexagon-in2 google"></div>
        </div>
    </div><a class="hexagon" href="http://www.informatik.uni-trier.de/~ley/pers/hd/p/Prokofyev:Roman.html">
        <div class="hexagon-in1">
            <div class="hexagon-in2 dblp"></div>
        </div>
    </a>
</div>
<div>
    <a class="hexagon" title="GitHub" href="https://github.com/dragoon">
        <div class="hexagon-in1">
            <div class="hexagon-in2 github"></div>
        </div>
    </a><a class="hexagon" title="Twitter" href="https://twitter.com/rprokofyev">
        <div class="hexagon-in1">
            <div class="hexagon-in2 twitter"></div>
        </div>
    </a><a class="hexagon" title="LinkedIn" href="http://ch.linkedin.com/in/rprokofyev">
        <div class="hexagon-in1">
            <div class="hexagon-in2 linkedin"></div>
        </div>
    </a>
</div>-->

<h2>Latest entries from the blog</h2>
{% for post in site.posts limit:5 %}
<div class="recent-entry">
    <h3><a href="{{ post.url }}" rel="bookmark" title="Permanent link to ">{{ post.title }}</a></h3>
    {% include post-meta.html %}
    {{ post.excerpt | replace:'<img src=','' | replace: 'align="left">', '' }} &hellip;
</div>
{% endfor %}
