{% if paginator %}
<!-- Pagination links -->
<div class="pagination">
    <ul>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li>
            <a href="/blog/">&laquo;</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/{{paginator.previous_page_path}}">&laquo;</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a>&laquo;</a>
        </li>
        {% endif %}
        {% if paginator.page == 1 %}
        <li class="active">
            <a>1</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/">1</a>
        </li>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <li class="active">
            <a>{{count}}</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/page-{{count}}/">{{count}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <li>
            <a href="/blog/{{paginator.next_page_path}}/">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a>&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
