---
layout: default
---
{% assign year = paginator.posts[0].date | date: "%Y" %}
<h3>{{ year }}</h3>
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    {% assign post_year = post.date | date: "%Y" %}
    {% if post_year < year %}
        {% assign year = post_year %}
        <h3>{{ year }}</h3>
    {% endif %}
    <div class="recent-entry">
        <h3><a href="{{ post.url }}" rel="bookmark" title="Permanent link to ">{{ post.title }}</a></h3>
        <ul class="tags clearfix">
            {% for cat in post.categories %}
            <li><a href="/categories/{{cat}}.html">{{ cat }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    <ul>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <li>
            <a href="/">&laquo;</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/{{paginator.previous_page_path}}">&laquo;</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a href="#">&laquo;</a>
        </li>
        {% endif %}
        {% if paginator.page == 1 %}
        <li class="active">
            <a href="#">1</a>
        </li>
        {% else %}
        <li>
            <a href="/blog">1</a>
        </li>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <li class="active">
            <a href="#">{{count}}</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/page-{{count}}">{{count}}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
        <li>
            <a href="/blog/{{paginator.next_page_path}}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
