---
layout: default
---

<h2 class="content">{{page.title}}</h2>

<div class="ribbon-date" title="{{ page.date | date: '%d %B %Y' }}">
    <div class="top ribbon-piece">{{ page.date | date: "%d" }}</div>
    <div class="bottom ribbon-piece">{{ page.date | date: "%b" }}<br>{{ page.date | date: "%Y" }}</div>
    <div class="tail">
        <div class="left ribbon-piece"></div>
        <div class="right ribbon-piece"></div>
    </div>
</div>
{% for cat in page.categories %}
    {{ cat }}
{% endfor %}
<div class='post'>
    {{ content }}
</div>

<br>
<hr>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'prokofyev';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments
    powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span
        class="logo-disqus">Disqus</span></a>
